
h2{
    display: inline;
    background-color: lightgreen;
    position: relative;
    left: 50px;
    top:0px;
    right: 100px;
    bottom: px;
    margin:0px; 
}
h3{
    background-color: lightblue;
    position: fixed;
    top: 0px;
    /*padding: 0px;
    margin: 0px;
    left: 0px;*/
}
h1{
    padding: 10px;
    border: 10px solid black;
    margin: 40px;
}
h4{
    background-color: red;
    position: sticky;
    top: 0px;
}
p{
    background-color: orange;
    position: absolute;
    left: 40px;
    top:0px;
    margin:0px;
    z-index: 10;
}