*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
body{
    background-color: black;
}

.container{
    /* -ms-grid-column-align: center; */
    /* align-items: center; */
    padding: 100px;
    /* margin: 50px; */
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    background-color: rgb(34, 7, 88);

}
.white{
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
}
.brown{
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: brown;
    text-align: center;
}