*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: black;

}

.container{
    display: flex;
    background-color: rgb(132, 15, 15);
    padding: 10px;
    gap: 5px;

}

.box{
    height: 200px;
    width: 200px;

}

.first{
    background-color: aquamarine;
    text-align: center;
}

.second{
    display: flex;
    /*background-color: blue;*/
    flex-direction: column;
    gap:10px;


}

.child{
    background-color: pink;
    height: 100px;
    /*width: 100px;*/
    
}

