h1{
    background-color: lightblue;
    height: 40px;
    width: 265px;
    border-width:5px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin: 15px;
}
h2{
    background-color: blueviolet;
    border: 5px solid red;
    padding: 10px;
    margin: 10px;
}
p{
    background-color: lightgreen;
    padding: 10px;
    border: 5px solid yellow;
    margin: 10px;
}