*{
    background-color: rgb(118, 4, 171);
}
#container{
    width: 700px;
    height: 450px;
    background-color: rgb(15, 4, 4);
}
#first{
    height:150px ;
    width: 700px;
    background-color: rgb(245, 162, 9);
}
#second{
    height: 150px;
    width: 700px;
    background-color: white;
    position: fixed;
    top:150p;
}
#third{
    height: 150px;
    width: 700px;
    background-color:rgb(4, 95, 4);
    position: fixed;
    top: 308px;
}

#circle{
    height: 80px;
    width: 80px;
    background-color: blue;
    position: absolute;
    border-radius: 50%;
    top: 35px;
    left: 300px;

}