*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    /* perspective: 800px; */
}
.box{
    background-color: red;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    /* transition-property: background-color; */
    /* transition-property: all;
    transition-duration: 4s;
    transition-timing-function: ease-in-out; */
    /* animation-iteration-count: infinite; */
    cursor: pointer;
    gap: 20px;
    transition: all 3s;
    font-size: 40px;
    align-items: center;
} 
.box:hover{
    /* background-color: blue;
    width: 400px;
    height: 400px;   
    box-shadow: inset 0 0 10px 5px yellow; */
    transform: scale(2);
    /* transform: translatez(200px) rotate(45deg); */
    transform: rotatex(360deg);
}

