*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(201, 198, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    height: 200px;
    width: 200px;
    /* background-color: rgb(144, 30, 30); */
    /* box-shadow: 10px 10px 10px 20px yellow; */
    /* box-shadow: inset 10px 10px blue; */
    background-color: yellow;
    /* border-radius: 50%; */
    box-shadow: 0px 0px 20px 10px orange;
    overflow: scroll;
}
/* offset-x offset-y blur radius spread=radius */
