*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.circle{
    height: 200px;
    border-radius: 50%;
    width: 200px;
    background-color: yellow;
    box-shadow: inset 0 0 10px 5px orange;
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    animation-timing-function: linear;
}
@keyframes change{
    to{
        /* margin-left: 50px;
        margin-top: 40px; */
        transform: rotate(0deg) translatex(200px) rotate(0deg);


    }
    from{
        /* margin-left: 300px;
        margin-top: 40px; */
        transform: rotate(-360deg) translate(200px) rotate(360deg);
    }
}