*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    padding: 10px;
    /* border: 2px solid rgba(194, 200, 16, 0.616); */
    background-color: rgba(201, 201, 17, 0.678);
    font-size: 40px;
    color: rgba(255, 255, 255, 0.931);
    width: 60%;
    border-radius: 5px ;
    overflow: hidden;
    white-space: nowrap;

}
p{
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes moving {
    from{
        margin-left: -80%;

    }
    to{
        margin-left: 100%;
    }
}