*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
body{
    background-color: black;

}
.container{
    padding: 10px;
    position: relative;

}
.box{
    height: 100px;
    width: 200px;
    background-color: red;
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: 4;
    animation-timing-function:linear;  
    /* animation-direction: alternate; */
    animation-delay: 2s;
    /* animation-fill-mode: forwards; */
    position: absolute;
}
@keyframes moving{
    0%{
        background-color: red;
        top: 10px;
        left: 10px;

    }
    25%{background-color: blue;
        top: 10px;
        left: 1200px;

    }
    50%{background-color: green;
        top: 500px;
        left: 1200px;


    }
    75%{background-color: yellow;
        top: 500px;
        left: 10px;

    }
    100%{background-color: red;
        top: 10px;
        left: 10px;

    }
}