body{
    display: flex; 
    background-color: black;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;

}
.container{
    background-color:darkorange;
    display: flex;
    height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    gap: 10px;
}
.box{
    height: 125px;
    width: 100px;
    padding: 5px;

}
.first{
    background-color: red;
    /* flex-basis: 200px; */
    /* flex-shrink: 4; */
    /* flex-grow: 2; */
}
.second{
    background-color: hotpink;
    /* flex-grow: 1;  */
}
.third{
    background-color: yellow;
    /* align-self: flex-start; */
    /* flex-grow: 2; */
}
.fourth{
    background-color: green;
    /* align-self: flex-start; */
}