*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: rgb(214, 196, 204);
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}
.container{
    height: 300px;
    width: 200px;
    background-color: rgba(54, 179, 214, 0.905);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.first{
     display: flex;
    margin: 20px;
    background-color: rgb(98, 149, 237);
    align-items: center;
    justify-content: center;
   
}
.second{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;

}
.third{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
button{
    background-color: rgb(107, 107, 226);
    height: 20px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}